@charset "UTF-8";

/* CJK Unified Ideographs U+4E00-U+9FFF */
@font-face {
  font-family: readable;
  src: local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF;
}

/* Japanese Kana U+3040-U+30FF */
@font-face {
  font-family: readable;
  src: local(Hiragino Kaku Gothic Pro), local(Meiryo);
  unicode-range: U+3040-30FF;
}

/* Bopomofo U+3105-U+312C */
@font-face {
  font-family: readable;
  src: local("微軟正黑體"), local(Microsoft JhengHei);
  unicode-range: U+3105-312C;
}

/* Latin, Latin1, Latin Ext-A, Latin Ext-B */
@font-face {
  font-family: readable;
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
  unicode-range: U+00-024F;
}
@font-face {
  font-family: readable;
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
  unicode-range: U+00-024F;
}