<?php partialView('header'); ?>
<div class="main-bar">
    <h3>
        <i class="fa fa-male"></i> 員工系統 <i class="fa fa-angle-right"></i> 新增員工
    </h3>
</div>
<?php partialView('menu' , $data); ?>
<div id="content">
<div class="outer">
<div class="inner">
<div class="row">


<div class="col-lg-12" style="margin-top: 10px;">
    <div class="tab-pane" id="addunit">
        <div class="box dark">
            <header>
                <div class="icons">
                    <i class="fa fa-edit"></i>
                </div>
                <h5>新增員工</h5>

                <div class="toolbar">
                    <nav style="padding: 8px;">
                        <a class="btn btn-default btn-xs collapse-box">
                            <i class="fa fa-minus"></i>
                        </a>
                    </nav>
                </div>
            </header>
            <div class="body">
                <form class="form-horizontal" method="post"
                      action="<?php url('doaddemployee' , 'oaseadmin' , null , true); ?>">
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="name">姓名*</label>
                        <div class="col-lg-10">
                            <input required id="name" name="name" type="text" class="form-control"
                                   placeholder="Name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="type">職位*</label>
                        <div class="col-lg-10">
                            <select id="type" name="type" class="form-control">
                                <?php foreach($data['type'] as $value){ ?>
                                <option value="<?=$value['id']?>"><?=$value['name']?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="">性別*</label>

                        <div class="col-lg-10">
                            <span><label><input checked type="radio" name="sex" value="1">男</label></span>
                            <span><label><input type="radio" name="sex" value="2">女</label></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="birthday">生日*</label>
                        <div class="col-lg-2">
                            <div class="input-group" style="float:right;">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                <input required id="birthday" name="birthday" type="text" class="form-control"
                                       placeholder="Birthday"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="address">地址</label>

                        <div class="col-lg-10">
                            <input id="address" name="address" type="text" class="form-control" placeholder="Address"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="username">員工系統帳號</label>

                        <div class="col-lg-10">
                            <input id="username" name="username" type="text" class="form-control" placeholder="OASE System User Name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="password">員工系統密碼</label>

                        <div class="col-lg-10">
                            <input id="password" name="password" type="password" class="form-control" placeholder="OASE System Password"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="salary">薪水</label>

                        <div class="col-lg-10">
                            <input id="manager" name="salary" type="salary" class="form-control" placeholder="Salary"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="unit">部門</label>

                        <div class="col-lg-10">
                            <select id="unit" name="unit" class="form-control">
                                <?php foreach($data['unit'] as $value){ ?>
                                <option value="<?=$value['id']?>"><?=$value['name']?> | <?=$value['address']?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-offset-2" style="padding: 0 14px;">
                            <button style="" type="submit" class="btn btn-default btn-primary btn-lg">
                                新增
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<?php partialView('footer'); ?>
