.face01{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
}

.face02{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -85px 0px;
}

.face03{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -170px 0px;
}

.face04{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -255px 0px;
}

.face05{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -340px 0px;
}

.face06{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: 0px -95px;
}

.face07{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -85px -95px;
}

.face08{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -170px -95px;
}

.face09{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -255px -95px;
}

.face10{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -340px -95px;
}

.face11{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: 0px -190px;
}

.face12{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -85px -190px;
}

.face13{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -170px -190px;
}

.face14{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -255px -190px;
}

.face15{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -340px -190px;
}

.face16{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: 0px -285px;
}

.face17{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -85px -285px;
}

.face18{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -170px -285px;
}

.face19{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -255px -285px;
}

.face20{
    background-image: url("../img/face.jpg");
    background-size: 650% 600%;
    background-position: -340px -285px;
}